@charset "UTF-8";
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  outline: solid 1px red;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 448px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 720px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  z-index: 2; /* поверх hero */
  background: transparent;
  display: flex;
  padding-top: 40px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 69px;
  height: 55px;
  display: block;
}
@media screen and (min-width: 720px) {
  .header__img {
    display: none;
  }
}
.header__menu {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 720px) {
  .header__menu {
    display: none;
  }
}
.header__list {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__list {
    display: block;
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
  }
}
.header__link {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-duration: 400ms;
  transition-property: color;
}
.header__link:hover, .header__link :focus {
  color: #FF6C00;
}
.header__items {
  display: none;
}
@media screen and (min-width: 720px) {
  .header__items {
    display: block;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__items {
    flex-direction: row;
    gap: 40px;
  }
}
.header__namber {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  display: block;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-duration: 400ms;
  transition-property: color;
}
@media screen and (min-width: 1200px) {
  .header__namber {
    gap: 40px;
  }
}
.header__namber:hover, .header__namber :focus {
  color: #FF6C00;
}
.header__btn {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  padding: 12px 20px;
  display: block;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-duration: 400ms;
  transition-property: color;
}
.header__btn:hover, .header__btn :focus {
  color: #FF6C00;
}

.hero {
  background-image: url(../images/prichos.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -100px;
  padding-top: 220px;
  padding-bottom: 209px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 720px) {
  .hero {
    margin-top: -136px;
  }
}
.hero__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 720px) {
  .hero__box {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__box {
    justify-content: start;
    align-items: start;
  }
}
.hero__text {
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.hero__title {
  color: #FFF;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
@media screen and (min-width: 448px) {
  .hero__title {
    width: 306px;
  }
}
.hero__subtitle {
  color: #9DA4BD;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.32px;
}
@media screen and (min-width: 448px) {
  .hero__subtitle {
    width: 338px;
  }
}

.best {
  padding: 84px 0;
}
@media screen and (min-width: 720px) {
  .best__wrap {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .best__list {
    display: flex;
  }
}
.best__image {
  width: 270px;
  height: 445px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .best__image {
    display: block;
  }
}
.best__img {
  display: none;
}
@media screen and (min-width: 720px) {
  .best__img {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .best__img {
    display: none;
  }
}
.best__left {
  margin-left: 30px;
}
.best__top {
  margin-top: 30px;
}
.best__box-tho {
  margin-left: 30px;
}
.best__besc {
  color: #303030;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: block;
}
.best__line-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.best__line {
  width: 1px;
  height: 60px;
  transform: rotate(90deg);
  background: #303030;
  display: inline;
  margin-left: 30px;
}
.best__title {
  color: #303030;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (min-width: 448px) {
  .best__title {
    width: 306px;
  }
}
.best__subtitle {
  color: #555;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.32px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (min-width: 448px) {
  .best__subtitle {
    width: 418px;
  }
}
.best__text {
  color: #555;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.28px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (min-width: 448px) {
  .best__text {
    width: 410px;
  }
}
@media screen and (min-width: 1200px) {
  .best__text {
    width: 470px;
  }
}
.best__btn {
  color: #303030;
  background-color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  padding: 12px 20px;
  display: block;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-duration: 400ms;
  transition-property: color;
  margin-top: 40px;
}
.best__btn:hover,
.best__btn :focus {
  color: #ff6c00;
}

.prices {
  padding: 84px 0;
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%), url("/images/nognic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 720px) {
  .prices {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    padding: 123px 0 117px 0;
  }
}
.prices__text {
  color: #9DA4BD;
  margin-left: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
  margin-bottom: 20px;
}
@media screen and (min-width: 720px) {
  .prices__text {
    font-size: 18px;
  }
}
.prices__item {
  display: flex;
}
.prices__tit {
  color: #FFF;
  font-family: Raleway;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  width: 100%;
  margin-bottom: 44px;
}
.prices__wraper {
  display: flex;
  gap: 20px;
}
.prices__title {
  color: #9DA4BD;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
  text-align: left;
}
@media screen and (min-width: 720px) {
  .prices__title {
    font-size: 18px;
  }
}
.prices__list {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  padding: 30px 20px 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 448px) {
  .prices__list {
    width: 418px;
  }
}
@media screen and (min-width: 720px) {
  .prices__list {
    width: 690px;
  }
}
.prices__btn {
  background-color: rgba(157, 164, 189, 0);
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #FF6C00;
  padding: 12px 20px;
  margin-top: 44px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.prices__items-dystop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .prices__items-dystop {
    display: block;
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .prices__none {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */