.header {
  position: relative;
  z-index: 2;
  background: transparent;
  display: flex;
  padding-top: 40px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    fill: #fff;
    width: 69px;
    height: 55px;

    @media screen and  (min-width:720px) {
        display: none;
    }
  }

  &__menu {
    width: 40px;
    height: 40px;
    display: block;
    fill: #FFFFFF ;
    @media screen and (min-width: 720px) {
      display: none;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 720px) {
      display: flex;
      gap: 16px;
    }

    @media screen and (min-width: 1200px) {
      gap: 30px;
    }
  }

  &__link {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    transition: color 400ms cubic-bezier(0.47, 0, 0.745, 0.715);

    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }

  &__items {
    display: none;

    @media screen and (min-width: 720px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__namber {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    display: block;
    transition: color 400ms cubic-bezier(0.47, 0, 0.745, 0.715);

    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }

  &__btn {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    border-radius: 25px;
    border: 1px solid #ff6c00;
    padding: 12px 20px;
    display: block;
    transition: color 400ms cubic-bezier(0.47, 0, 0.745, 0.715);

    &:hover,
    &:focus {
      color: #ff6c00;
    }
  }

  &__burger {
    background: none;
    border: none;
    cursor: pointer;
  }
}
