.header{

  position: relative;
  z-index: 2; /* поверх hero */
  background: transparent;

    display: flex;
    padding-top: 40px;
 &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }



  &__img{
    width: 69px;
    height: 55px;
    display: block;
        @media screen and  (min-width:720px) {
        display: none;
    }
  }

&__menu{
    // margin-left: auto;
    width: 40px;
height: 40px;

    @media screen and  (min-width:720px) {
        display: none;
    }
}
  &__list{
    display: none;
        @media screen and  (min-width:720px) {
        display:block;
        display: flex;
        gap: 16px;
    }

        @media screen and  (min-width: 1200px) {
        gap: 30px;
    }
  }

    &__link{
 color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
transition: cubic-bezier(0.47, 0, 0.745, 0.715);
transition-duration: 400ms;
transition-property: color;
&:hover,:focus{
 color: #FF6C00;   
}

    }

     &__items{
    display: none;

        @media screen and  (min-width:720px) {
        display: block;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
        @media screen and  (min-width: 1200px) {
        flex-direction: row;
        gap: 40px;
        // align-items: center;
        // justify-content: center;
    }
  } 

  &__namber{
     color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
display: block;
    @media screen and  (min-width: 1200px) {
     gap: 40px;
    }
transition: cubic-bezier(0.47, 0, 0.745, 0.715);
transition-duration: 400ms;
transition-property: color;
&:hover,:focus{
 color: #FF6C00;   
}
  }

  &__btn{
         color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;

border-radius: 25px;
border: 1px solid #FF6C00;
padding: 12px 20px;
display: block;

transition: cubic-bezier(0.47, 0, 0.745, 0.715);
transition-duration: 400ms;
transition-property: color;
&:hover,:focus{
 color: #FF6C00;   
}
  }
}

